.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 1em;
    margin-bottom: 3em;
    width: 31%;
    border-radius: 1em;
    border: 1px solid #e33c339f;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.583);
}
.card .id {
    margin: 0.5em 0;
    background-color: #e33D33;
    color: #fff;
    padding: 1%;
    border-radius: 20px;
}
.card .title {
    text-transform: capitalize;
    
}
.btn {
    text-decoration: none;
    color: black;
    background-color: #ccc;
    padding: 2%;
    margin-top: 2%;
    border-radius: 7px;
    font-weight: 590;
    transition: all 200ms ease-in-out;
}
.btn:hover {
    background-color: #e33D33;
    color: white;
}

@media (max-width:768px) {
    .card {
        width: 80%;
        margin: 0 auto 10% auto;
    }
}