.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2%;
    padding-top: 7%;
}
.title input {
    width: 40%;
    margin: 3% auto 2% auto;
    padding: 1.2% 1%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 1em;
}
.title input:focus {
    outline: none;
    border: 1px solid #000;
}

.subir {
    position: fixed;
    bottom: 30px;
    right: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.subir.mostrar {
    opacity: 1;
}

.pokemon_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    min-height: 75vh;
}

@media (max-width: 768px) {
    .title {
        padding-top: 15%;
    }

}